.cds--chart-holder{
    border: 2px solid #cccccc;
    background-color: #ffffff77;
    border-radius: 10px;
}


.cds--cc--layout-column-reverse{
    padding:10px;
}

.cds--cc--donut{
    top:0;
}

.cds--cc--title{
    padding-left: 5px;
}

.cds--cc--layout-column{
    display: flex;
    flex-direction: column;
}

.header{
    position: absolute;
    top: 0;
}

.full-frame{
    position: absolute;
    bottom: 0;
    height:auto;
}
